
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main.py-4 {
    text-align: center;
}

#content {
    width: 1121px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 50px;
}

.weight-sh > input {
    height: 40px !important;
}

.compare-sh {
    margin-left: 45px !important;
}
